# Team and Version Configuration
TEAM=EMEA-GI-Team
AGENT_VERSION=0.1
IMAGE_NAME=emea-gi-azdo-agent

# Azure DevOps Configuration
VSTS_ACCOUNT=MetLife-Global
VSTS_TOKEN=your-pat-token
VSTS_POOL=EMEA-GI-Automation

# Ansible Tower
TOWER_DEV=
TOWER_PRD=
